<h1>Current Battles:</h1>

<table class="table">
  <tr>
  <th style="width: 300px;">Player 1</th>
  <th style="width: 300px;">Player 2</th>
  <th style="width: 300px;">Question</th>
  </tr>

<% @arguments.each do |argument| %>
  <tr>
    <td style="width: 300px;"><%= argument.user1.name %></td>
    <td style="width: 300px;"><%= argument.user2.name %></td>
    <td style="width: 300px;"><%= link_to argument.topic, argument %></td>
  <tr>
<%end%>
</table>
<br />
<%= link_to 'New Argument', new_argument_path, :class => "btn btn-primary" %>
