<%= form_for([@argument, @argument.posts.build]) do |f| %>

<div class="field">
  <%= f.label :content %><br />
  <%= f.text_field :content %>
</div>

<div class="actions">
    <%= f.submit %>
</div>

<% end %>
