<div id="arena">
	<div class = "playerhud" id ="player1">
		<p class = "name nob" >
			CHARIZARD
		</p>
		<p class = "level">
			<small>:L</small>45
		</p>
		<div class = "health health-right" >
			<span class = "hp">
				HP:
			</span>
			<div class = "hp-bar">
				<div class ="hp-bar-fill" id ="p1-bar" style="width:60%;"></div>
			</div>
		</div>
	</div>

	<div id = "player1-img">
		<%= image_tag "charizard.png" %>
		<%= image_tag "rocks.png", :class => "rocks"  %>
	</div>

	<div id = "player1-text" >
		<div class = "bubbletext" >
			Apple deserves to patent its design because without Apple
			everyone would be living under rocks and my life would have no purpose!
		</div>
		<div class = "timestamp" > 1 minute ago </div>
	</div>

	<div class = "playerhud" id ="player2">
		<p class = "name nob" >
			PIKACHU
		</p>
		<p class = "level">
			<small>:L</small>45
		</p>
		<div class = "health health-left" >
			<span class = "hp">
				HP:
			</span>
			<div class = "hp-bar">
				<div class ="hp-bar-fill" id ="p2-bar" style="width:30%;"></div>
			</div>
		</div>
	</div>

	<div id = "player2-img">
		<%= image_tag "pikachu.png" %>
		<%= image_tag "rocks.png", :class => "rocks"  %>
	</div>

	<div id = "player2-text" >
		<div class = "bubbletext"> 
			Fuck Apple! 
		</div>
		<div class = "timestamp" > 1 minute ago </div>
	</div>

	<div id = "maintext" >
		A wild ARGUMENT appeared!
	</div>
</div>